.about {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 700px;
    background: black;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 200px;
  
    .logo-3 {
      width: 700px;
      height: 280px;
      // padding: 100px;
      // margin-right: 800px;
    }
  
    .titles {
      display: flex;
      flex-direction: column;
      color: white;
      width: 800px;
      text-align: left;
      gap: 30px;
  
      h1 {
        width: 400px;
        font-size: 30px;
  
      }
  
      p {
        width: 500px;
      }
  
      .divider-2 {
        width: 200px;
      }
  
      .eye {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
  
        .boring {
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
        
        .circle {
          border: 1px solid #E27866;
          border-radius: 50%;
          background: #E27866;
          width: 40px;
          height: 40px;
          color: white;
          padding-left: 4px;
          padding-top: 2px;
  
          img {
            width: 30px;
          }
        }
      }
  
      .bubble {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
  
        .boring {
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
  
        .circle {
          border: 1px solid #E27866;
          border-radius: 50%;
          background: #E27866;
          width: 40px;
          height: 40px;
          color: white;
          padding-left: 7px;
          padding-top: 4.5px;
  
          img {
            width: 25px;
          }
        }
      }
    }
  }